.misa-grid-wrapper {
    max-width:100%;
    width: 100%;
    height: 100vh;
    padding-top:48px;
    box-sizing: border-box;
    overflow:unset;
    scroll-behavior: smooth;
    position: relative;
    padding-left: 20px;
    background-color: #eceef1;
}

.misa-grid-header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 24px 30px 11px 20px;
    position:absolute;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    top: 48px;
    z-index: 1;
}

.misa-grid-title{
    font-size: 24px;
    font-weight: 700;
    color: #111;
}

.misa-grid{
    max-width: 100%;
    width: calc(100%);
    height: calc(100vh - 48px);
    padding-top:74px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 30px;
}

.misa-grid-func{ 
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 16px 16px 32px 16px;
    align-items: center;
    z-index: 3;
}

.misa-grid-fun-left{

}

.misa-grid-func-right{
    display: flex;
    align-items: center;
}

.misa-grid-reload {
    background-position:-1098px -88px;
    cursor: pointer;
    margin-left:12px;
    opacity: 0.5;
    position: relative;
}

.misa-grid-reload:hover {
    opacity: 1;
}

.misa-grid-table{
    flex: 1;
    width:100%;
    overflow: unset;
    box-sizing: border-box;
    background-color: #fff;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    height:calc(100% - 66px - 56px - 16px)
}

#misa-toast-wrapper {
    position: fixed;
    top: 50px;
    z-index: 10;
    right: 60px;
}

.misa-button-interact-multi {
    border-radius: 30px;
    border:2px solid #3b3c3f !important;
    height: 36px !important;
    padding: 0px  16px !important;
    /* box-sizing: border-box; */
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
}

.misa-button-interact-multi .misa-button-label {
    line-height: 13px !important;
    box-sizing: border-box;
    margin-right: 8px;
    font-size: 12px;
}

.misa-button-interact-multi-arrow {
    background-position: -564px -365px;
    width: 8px;
    height: 5px;
    margin-top: 2px;
    opacity: .5;
}

.misa-grid-export-data {
    background-position: -705px -255px;
    margin-left: 12px;
    cursor: pointer;
    opacity: .5;
    position: relative;
}

.misa-grid-export-data:hover {
    opacity: 1;
}

.misa-func-interact-multi {
    position: absolute;
    top:calc(100% + 0.5px);
    border:1px solid #bbb;
    padding: 4px 8px;
    z-index: 99;
    background-color: #fff;
    width: 100px;
    text-align: left;
    right: 0;
    cursor: pointer;
}

.misa-func-interact-multi:hover {
    background-color: #e8e9ec;
}

.misa-grid-tooltip {
    position: absolute;
    white-space: nowrap;
    top:calc(100% + 0.5px);
    background-color: rgb(66, 66, 66);
    color:#fff;
    display: none;
    font-size: 11px;
    padding: 2px 8px;
    transform: translateX(-50%);
    border-radius: 2px;
}

.misa-grid-reload:hover .misa-grid-tooltip {
    display: block;
}

.misa-grid-export-data:hover .misa-grid-tooltip {
    display: block;
}