.misa-input-wrapper {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
}

.misa-input {
    outline: none;
    height: calc(var(--input-height));
    line-height: calc(var(--input-height));
    border: 1px solid #babec5;
    box-sizing: border-box; 
    text-indent: 10px;
    border-radius:2px;
    width: 100%;
    padding-right: 8px;
}

.misa-input:focus {
    border-color: var(--border-color-focus);
}

.misa-input-tooltip {
    position: absolute;
    background-color: rgb(70, 70, 70);
    color: #fff;
    padding: 2px 4px;
    z-index: 4;
    border-radius: 2px;
    top: 50%;
    left: 20px;
    white-space: nowrap;
    display: none;
}

.misa-label-field:hover ~ .misa-input-tooltip {
    display: block;
}