.misa-radio-group-wrapper{

}

.misa-radio-group{
    display:flex
}

.misa-radio-item{
    display:flex;
    align-items:center;
    cursor: pointer;
    margin-right: 16px;
}

.misa-radio-item:last-child{
    margin-right: 0;
}

.misa-radio-item-selected .misa-radio-item-out{
    border-color: var(--color-primary);
}

.misa-radio-item-out{
    width: 18px;
    height: 18px;
    border-radius:50%;
    border:1px solid var(--color-border);
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

.misa-radio-item-selected .misa-radio-item-in{
    width: 10px;
    height: 10px;
    background-color: var(--color-primary);
    border-radius:50%;
}

.misa-radio-display{

}